/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 de out. de 2021, 14:43:07
    Author     : EmersonPC
*/

/* Estilos gerais */
body{
    /* background-color: #667a8c; */
    background-color: rgba(0, 0, 0, .87);
}

body h1{
    /* color: #222528; */
    color: #541b19;
    text-align: center;
    animation-name: tituloPiscando;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    font-family: cursive;
    border-bottom: 1px solid lightgray;
}

@keyframes tituloPiscando {
    0% { color: rgba(238, 147, 144, .2) }
    25% { color: rgba(238, 147, 144, .4) }
    50% { color: rgba(238, 147, 144, .6) }
    75% { color: rgba(238, 147, 144, .8) }
}

body p{
    text-align: center;
}

a {
    color: #541b19;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(110, 36, 34);
    text-decoration: underline;
}

.tabelaListagem {
    background: #000000;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.tabelaListagem th {
    background: #EEEEEE;
    padding: 5px;
}

.tabelaListagem td{
    background-color: darkgray;
    text-align: center;
}

.tabelaInserir {
    margin-left: auto;
    margin-right: auto;
}

.tabelaInserir td{
    color: rgb(174, 148, 147);
}

#divErros {
    font-weight: bold;
    border: solid 2px #660000;
    border-radius: 10px;
    background-color: #ff3333;
    padding: 10px;
    margin-bottom: 10px;
}

/* Botões */
.btn-redondo {
    font-family: cursive;
    font-weight: bold;
}

.btn-redondo:hover {
    border-radius: 10px;
    background-color: lightgray;
}

/* Animação
#animacao {
  position: fixed;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   { left:0%; top:0%; }
  25%  { left:0%; top:25%; }
  50%  { left:95px; top:95px; }
  75%  { left:0px; top:95px; }
  100% { left:0px; top:0px; }
} */

/* Estilos para a página de venda 
#divCliente {
    font-weight: bold;
    width: 700px;
    border: solid 2px #003366;
    border-radius: 10px;
    background-color: #0099cc;
    padding: 10px;
    margin-bottom: 10px;
}

#divItensVenda {
    font-weight: bold;
    width: 700px;
    border: solid 2px #993300;
    border-radius: 10px;
    background-color: #ff9933;
    padding: 10px;
}

#selectCliente {
    width: 100%;
}

#selectProduto {
    width: 250px;
}

#selectItensVenda {
    font-family: monospace;
    width: 350px;
    height: 200px;
}

#txtQuantidade {
    width: 100px;
}

#divTotal {
    text-align: right;
}

.btnsItensVenda {
    text-align: center; padding: 20px;
}
*/